<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
   
    <logger name="no.auke.m2" level="INFO"/>  
    <logger name="no.auke.p2p.m2" level="INFO"/>
    
    <logger name="no.auke.p2p.m2.PeerServer" level="DEBUG"/>    
    <logger name="no.auke.p2p.m2.Socket" level="DEBUG"/>
    <logger name="no.auke.p2p.m2.workers.SocketBuffer" level="DEBUG"/>
    <logger name="no.auke.p2p.m2.workers.SocketBufferIncoming" level="DEBUG"/>
    <logger name="no.auke.p2p.m2.workers.SocketBufferOutgoing1" level="DEBUG"/>   
    <logger name="no.auke.p2p.m2.workers.SocketBufferOutgoing2" level="DEBUG"/>        
    <logger name="no.auke.p2p.m2.workers.ChunkOutgoing1" level="INFO"/>
    <logger name="no.auke.p2p.m2.workers.ChunkOutgoing2" level="DEBUG"/>
    <logger name="no.auke.p2p.m2.workers.ChunkIncoming" level="DEBUG"/> 
	<logger name="no.auke.p2p.m2.timing.SendStatistics" level="DEBUG"/> 
	<logger name="no.auke.p2p.m2.timing.SpeedCalc2" level="DEBUG"/>
<!--     <logger name="no.auke.p2p.m2.workers.ComChannel" level="TRACE"/> -->
	   

<!--     <logger name="no.auke.p2p.m2.Sockets.ISyncSocket" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.Sockets.IAsyncSocket" level="DEBUG"/> -->
<!--     <logger name="no.auke.p2p.m2.Sockets.ISocketPortListen" level="TRACE"/> -->
<!--     <logger name="no.auke.p2p.m2.Sockets.ISyncDefaultTrans" level="TRACE"/> -->

<!--     <logger name="no.auke.p2p.m2.workers.ChunkIncoming" level="DEBUG"/> -->
    
<!--     <logger name="no.auke.p2p.m2.workers.ChunkOutgoing" level="DEBUG"/> -->

<!--     <logger name="no.auke.p2p.m2.workers.KeepAlivePool" level="DEBUG"></logger> -->
<!--     <logger name="no.auke.p2p.m2.workers.KeepAliveAgent2" level="DEBUG"></logger> -->
	
<!-- 	<logger name="no.auke.p2p.m2.workers.PeerPeerAgent" level="DEBUG"></logger> -->
<!-- 	<logger name="no.auke.p2p.m2.workers.MessageListener" level="DEBUG"></logger> -->
	
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>



